<!DOCTYPE html>
<html>
<head>
{{> ../templates/partials/security }}
{{> ../templates/partials/head }}
{{> ../templates/partials/extension }}
{{> index_css }}
<link rel="stylesheet" href="css/binary.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridle@2.0.48/css/grid-flex.css" integrity="sha256-J4p1c+K4tD3rnyfA0ztZpoQR0+mBhDTZ/J+YNOalc0k=" crossorigin="anonymous">
</head>

<body>
  {{> ../templates/extension/index }}
  {{> ../templates/partials/loading }}
  {{> index}}
  {{> gtm_iframe }}
</body>
</html>
